/* Modificadores de elementos
--------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

a, a:hover {
  color: #446f02;
  text-decoration: none;
}

/* Especiales
--------------------------------------------------------------*/
.programas {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.programas__i-logo {
  width: 100px;
}

/* Anchos
--------------------------------------------------------------*/
.w5 {
  width: 5%;
}

.w10 {
  width: 10%;
}

.w15 {
  width: 15%;
}

.w20 {
  width: 20%;
}

.w25 {
  width: 25%;
}

.w30 {
  width: 30%;
}

.w35 {
  width: 35%;
}

.w40 {
  width: 40%;
}

.w45 {
  width: 45%;
}

.w50 {
  width: 50%;
}

.w55 {
  width: 55%;
}

.w60 {
  width: 60%;
}

.w65 {
  width: 65%;
}

.w70 {
  width: 70%;
}

.w75 {
  width: 75%;
}

.w80 {
  width: 80%;
}

.w85 {
  width: 85%;
}

.w90 {
  width: 90%;
}

.w95 {
  width: 95%;
}

.w100 {
  width: 100%;
}

/* Header
--------------------------------------------------------------*/
.myheader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

@media (max-width: 991px) {
  .myheader {
    width: 300px;
    background: rgba(217, 217, 217, 0.8235294118);
    border-right: 1px solid #f2f3f5;
    left: -300px;
  }
}
@media (min-width: 991px) {
  .mymain {
    margin-left: 100px;
  }
}
/* Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  padding: 0;
  display: block;
}
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-menu li {
  position: relative;
  white-space: nowrap;
}
.nav-menu a {
  display: flex;
  align-items: center;
  color: #45505b;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: #f2f3f5;
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}
.nav-menu a i {
  font-size: 20px;
}
.nav-menu a span {
  padding: 0 5px 0 7px;
  color: #45505b;
}
.nav-menu .active, .nav-menu a:hover, .nav-menu li:hover > a {
  color: #d9d9d9;
  background-color: #446f02;
}
.nav-menu a:hover, .nav-menu li:hover > a {
  width: 100%;
}
.nav-menu a:hover span, .nav-menu li:hover > a span {
  display: block;
}

@media (min-width: 992px) {
  .nav-menu {
    padding: 0;
  }
  .nav-menu a, .nav-menu a:focus {
    width: 56px;
  }
  .nav-menu a span, .nav-menu a:focus span {
    display: none;
    color: #d9d9d9;
  }
}
/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 32px;
  font-weight: bold;
  transition: all 0.4s;
  outline: none;
  line-height: 0;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px;
  height: 32px;
}
.mobile-nav-toggle i {
  color: #45505b;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .myheader {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle {
  color: #335203;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.myfooter {
  background: #d9d9d9;
  color: #45505b;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}
.myfooter__title {
  font-size: 36px;
  font-weight: 700;
  position: relative;
  font-family: "Poppins", sans-serif;
  margin: 0 0 15px 0;
}
.myfooter__descrip {
  font-size: 15;
  font-style: italic;
  margin: 0 0 40px 0;
}
.myfooter__social-links {
  margin: 0 0 40px 0;
}
.myfooter__social-links a {
  font-size: 18px;
  display: inline-block;
  background: #446f02;
  color: #d9d9d9;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
.myfooter__social-links a:hover {
  background: #446f02;
  color: #d9d9d9;
  text-decoration: none;
}
.myfooter__copyright {
  margin: 0 0 5px 0;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/fondos/hero-bg.jpg") top right no-repeat;
  background-size: cover;
  position: relative;
}
#hero .mascara {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
}
#hero h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #45505b;
}
#hero p {
  color: #45505b;
  margin: 15px 0 0 0;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}
#hero p span {
  color: #446f02;
  letter-spacing: 1px;
}
#hero .social-links {
  margin-top: 30px;
}
#hero .social-links a {
  font-size: 24px;
  display: inline-block;
  color: #45505b;
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}
#hero .social-links a:hover {
  color: #446f02;
}

@media (min-width: 992px) {
  #hero .mascara {
    padding-left: 160px;
  }
}
@media (max-width: 992px) {
  #hero {
    text-align: center;
  }
  #hero h1 {
    font-size: 32px;
    line-height: 36px;
  }
  #hero p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }
}
/* Seccion Vertical
--------------------------------------------------------------*/
.sec-gral {
  padding: 2rem 0;
}
.sec-gral__linea {
  margin: 2.5rem 0;
}
.sec-gral__title {
  padding: 1rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #45505b;
}
.sec-gral__hr-title {
  height: 1px;
  width: 150px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 2rem;
  border: 1px solid #335203;
}
.sec-gral__subtitle {
  color: #446f02;
  font-weight: 700;
  font-size: 2rem;
}
.sec-gral__subtitle--exp {
  color: #446f02;
  font-weight: 700;
  font-size: 2rem;
  margin-top: 3rem;
}
.sec-gral__text {
  margin-bottom: 1rem;
  text-align: 1.5;
  text-align: justify;
}
.sec-gral__textstr {
  font-weight: bold;
}
.sec-gral__textitl {
  font-style: italic;
  color: #335203;
}
.sec-gral__textref {
  margin: 0 auto;
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
  font-style: italic;
  color: #335203;
}
.sec-gral__ul {
  list-style-type: none;
}
.sec-gral__ul li {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}
.sec-gral__ul li span {
  padding: 0 1rem;
}
.sec-gral__ul i {
  font-size: 1rem;
  margin-right: 0.5rem;
  color: #446f02;
}
.sec-gral__puntajes {
  margin-bottom: 3rem;
}
.sec-gral__puntajes .base {
  height: 60px;
  display: block;
  background: none;
  width: 40%;
}
.sec-gral__puntajes .base .title {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.sec-gral__puntajes .base .title .skill, .sec-gral__puntajes .base .title .val {
  padding: 0.4rem 0;
  margin: 0;
  display: block;
  color: #45505b;
}
.sec-gral__puntajes .base .progress {
  height: 10px;
  border-radius: 0;
  background: #f2f3f5;
}
.sec-gral__puntajes .base .progress .progress-bar {
  width: 1px;
  transition: 0.9s;
  background-color: #446f02;
}
.sec-gral__foto {
  width: 100%;
}

@media (max-width: 991px) {
  .sec-gral__foto {
    width: 60%;
    margin: 0 auto;
  }
}/*# sourceMappingURL=styles.css.map */