/* CV
---------------------------------------*/

.cvitae{
  margin: 4rem 2rem;

  & * {
    font-family: "Poppins", sans-serif;
  }

  & .pstr{
    font-weight: bold;
    text-align: justify;
  }

  &__1ra-col{
    background-color: $c-blanco;
    padding: 1rem;
  }

  &__2da-col{
    background: #f7f7f7;
    padding: 1rem;
  }

  &__foto{
    border-radius: 40%;
    width: 80%;
    margin: 1rem 0;
  }

  &__title1{
    font-size: 5rem;
    text-align: center;
    color: $copcn;
    margin-bottom: 0;
    font-weight: normal;
  }

  &__subtitle{
    text-transform: uppercase;
    text-align: center;
  }

  &__title2{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    color: $copcn;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  
  &__linea{
    border: 2px solid $copcn;
    border-radius: 300px/10px;
    height: 0px;
    text-align: center;
    margin: 1rem;
  }

  &__linea--fina{
    border: 1px solid $copcn;
  }
  
  &__linea--gruesa{
    border: 4px solid $copcn;
    margin-bottom: 2rem;
  }
  
  &__p{
    line-height: 1.3;
    margin-bottom: 1rem;
    text-align: justify;
  }
  
  &__link{
    color: $copcn;
    margin-bottom: 1rem;
  }
  
  &__link:visited{
    color: $copcn;
  }

  &__list{
    list-style-type:circle;
    list-style-position: inside;
    padding-inline-start: 0;
  }
  
  &__list::marker{
    color: $copcn;
  }
  
  &__item{
    line-height: 1.3;
  }
  
  &__list-p{
    list-style-type: none;
    margin-bottom: 2rem;
    text-align: justify;
  }
  
  &__item-p{
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: justify;
  }
}

@media (max-width: 991px) {

  .cvitae{
    margin: 3rem 1rem;
  
    & * {
      font-family: "Poppins", sans-serif;
      font-size: 0.8rem;
    }
  
    &__1ra-col{
      padding: 0.8rem;
    }
  
    &__2da-col{
      padding: 0.8rem;
    }
  
    &__foto{
      margin: 0.8rem auto;
    }
  
    &__title1{
      font-size: 4rem;
    }
  
    &__subtitle{
      font-size: 1rem;
    }
  
    &__title2{
      font-size: 1.3rem;
    }
    
    &__linea{
      margin: 0.8rem;
    }
  
    &__linea--gruesa{
      margin-bottom: 1.5rem;
    }
    
    &__p{
      font-size: 0.8rem;
      line-height: 1.2;
      margin-bottom: 0.8rem;
    }

    &__link{
      margin-bottom: 0.8rem;
    }

    &__item{
      line-height: 1.2;
    }
    
    &__list-p{
      margin-bottom: 1.5rem;
    }
    
    &__item-p{
      font-size: 0.8rem;
      line-height: 1.4;
    }
  }
}

@media (max-width: 576px) {

  .cvitae{
    margin: 2rem 0.5rem;

    & * {
      font-family: "Poppins", sans-serif;
      font-size: 0.5rem;
    }

    &__1ra-col{
      padding: 0.5rem;
    }

    &__2da-col{
      padding: 0.5rem;
    }

    &__foto{
      margin: 0.5rem auto;
    }

    &__title1{
      font-size: 2rem;
    }

    &__subtitle{
      font-size: 0.8rem;
    }

    &__title2{
      font-size: 0.7rem;
    }

    &__linea{
      margin: 0.7rem;
    }

    &__linea--gruesa{
      margin-bottom: 1rem;
    }

    &__p{
      font-size: 0.7rem;
      line-height: 1.2;
      margin-bottom: 0.7rem;
    }

    &__link{
      margin-bottom: 0.7rem;
    }

    &__item{
      line-height: 1.2;
    }

    &__list-p{
      margin-bottom: 1rem;
      padding-inline-start: 0;
    }

    &__item-p{
      font-size: 0.7rem;
      line-height: 1.2;
    }
    & .pstr{
      font-size: 0.7rem;
    }
  }
}