/* Seccion Vertical
--------------------------------------------------------------*/
.sec-gral{
  padding-top: 0;

  &__linea{
    margin: 2.5rem 0;
  }

  &__title{
    padding: 1rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $c-gris1;
  }

  & h1 {
    margin-top: 2.5rem;
  }

  &__hr-title{
    height: 1px;
    width: 150px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 2rem;
    border: 1px solid $cstrg;
  }

  &__subtitle{
    color: $copcn;
    font-weight: 700;
    font-size: 2rem;
  }

  &__subtitle--exp{
    color: $copcn;
    font-weight: 700;
    font-size: 2rem;
    margin-top: 3rem;
  }

  &__text {
    margin-bottom: 1rem;
    text-align: justify;
  }

  &__textstr{
    font-weight: bold;
    text-align: justify;
  }

  &__textitl{
    font-style: italic;
    color: $cstrg;
  }

  &__textref{
    margin: 0 auto;
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
    font-style: italic;
    color: $cstrg;
  }

  &__ul {
  list-style-type: none;
  & li {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    & span{
      padding: 0 1rem;
    }
  }
  & i {
    font-size: 1rem;
    margin-right: 0.5rem;
    color: $copcn;
  }
}

  &__foto{
    width: 100%;
    justify-self: center;
  }

  // puntajes = progres bar completo
  &__puntajes{
    margin-bottom: 3rem;

    & .base {
      height: 60px;
      display: block;
      background: none;
      width: 40%;

      & .title{
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        font-weight: 600;
        font-family: "Poppins", sans-serif;

        & .skill, .val {
          padding: 0.4rem 0;
          margin: 0;
          display: block;
          color: $c-gris1;
        }
      }

      & .progress {
        height: 10px;
        border-radius: 0;
        background: $c-gris2;

        & .progress-bar{
          width: 1px;
          transition: 0.9s;
          background-color: $copcn;
        }
      }
      
    }

  }

  // tarjeta conboton modal
  &__modalcard{
    margin-top: 1.5rem;

    & .icon-box {
      text-align: center;
      padding: 70px 20px 80px 20px;
      background: $c-blancor;
      box-shadow: 0px 5px 90px 0px #6e7b8315;

      & .icon {
        margin: 0 auto;
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        & svg {
          position: absolute;
          top: 0;
          left: 0;

          & path {
            fill: #f5f5f5;
          }
        }

        & i {
          font-size: 2rem;
          position: relative;
          color: $copcn;
        }

      }

      & .ctitle {
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        margin: 10px 0 15px 0;
        font-size: 1.5rem;
        color: $c-gris1;
      }

      & .ctext {
        line-height: 24px;
        font-size: 14px;
        margin-bottom: 0;
      }

      &:hover {
        border-color: $c-blancor;
        box-shadow: 0px 0 35px 0 #0000002c;

        & .icon path {
          fill: $copcn;
        }

        & i {
          color: $c-blancor;
        }
      }
    }
  }

  &__modalcontend {
    background-color: $c-gris2;

    & .modal-header {
      background-color: $copcn;
      color: $c-blanco;

      & h1  {
        margin-top: 0;
        font-size: 1.3rem;
      }
    }

    & .modal-body {
      & .float__img {
        float: left;
        width: 250px;
        margin: 10px;
      }

      & li {
        align-items:first baseline;
      }
    }

    & .modal-footer{
      background-color: $copcn;
      color: $c-blanco;
      justify-content: right;

      & p {
        font-family: "Raleway", sans-serif; 
      }

      &  a {
        font-size: 1rem;
        color: $c-blanco;
        margin-right: 20px;
  
        &:hover {
          color: $c-blanco;
        }
      }
    }
  }
}

@media (max-width: 991px){
  .sec-gral__foto{
    width: 60%;
    margin: 0 auto;
  }
}