/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.myfooter {
  background: $c-blanco;
  color: $c-gris1;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;

  &__title {
    font-size: 36px;
    font-weight: 700;
    position: relative;
    font-family: "Poppins", sans-serif;
    margin: 0 0 15px 0;
  }

  &__descrip {
    font-size: 15;
    font-style: italic;
    margin: 0 0 40px 0;
  }

  &__social-links {
    margin: 0 0 40px 0;

    & a {
      font-size: 18px;
      display: inline-block;
      background: $copcn;
      color: $c-blanco;
      line-height: 1;
      padding: 8px 0;
      margin-right: 4px;
      border-radius: 50%;
      text-align: center;
      width: 36px;
      height: 36px;
      transition: 0.3s;

      &:hover {
        background: $copcn;
        color: $c-blanco;
        text-decoration: none;
      }
    }
  }

  &__copyright {
    margin: 0 0 5px 0;

    & .pstr{
      font-weight: bold;
    }
  }
}